.list-header
    .button.back-button#backButton Back
    .list-title Playlists
.list-box
    each val in list
        .list-item(id=val._id)
            .list-item-name= val.name
            .list-item-desc= val.desc
    
    .add-playlist +


.overlay.transition.none.opacity-0#overlay
    .overlay-closer
    .content#overlayLoad